Benchmarks/
.vs/
Scheduling/Release/
Scheduling/Debug/
Scheduling/ts_log
solutions-closed/
Release/
Debug/
Scheduling/Stable_Code_Backup/
Outputs/
Parametric_Outputs/
mci/
Backupcodes/
*.png
Backup_Outputs_24_7_17/
*.out
*.vspx
*.vsps
*.tlog
Scheduling/cmake-build-debug/
Scheduling/cmake-build-release/
Scheduling/cmake-build-release-mingw/
Scheduling/cmake-build-windowsrelease/
ShopSheduling/cmake-build-debug/
ShopSheduling/cmake-build-release/

cmake-build-debug/
